body {
  background: #cce6ff;
}

h1 {
  font-size:48px;
  line-height:2em;
}

h2 {
  font-size:36px;
  line-height: 1.5em;
}

canvas {
  height: 400px;
  width: 600px;
}

/*
section > img:first-child {
  margin-right: 5em;
}

section > img:last-child {
  margin-left: 5em;
}
*/

div#results-box {
  /*padding-top: 2em;*/
  padding: 1.25em;
  /*top: 8em;*/
  overflow: auto;
  width:400px;
  height:450px;
  float: left;
}

div.card > img {
  display: inline;
  /*margin-right: 5em;*/
}
ul#results {
  /*margin:-4em 0 2em 2em;*/
  list-style-type: square;
  float: left;
}

ul#results li {
  line-height: 2em;
  margin-left:1.15em;
}
div#three-pics-container {
  margin-left:28em;
  margin-top:5%;
  /*margin-right:2em; */
  /*border: 2px solid#757575;*/
  text-align: center;
}

/*
div#three-pics-container div.card {
  float: left;
}
*/
div.card {
  width: 200px;
  height: 200px;
  border: 2px solid#757575;
  padding: 1em;
  text-align: center;
  margin: 1em;
  float: left;
  box-shadow: 0 2px 4px 2px #666;
}

div.card img {
  max-width: 180px;
  max-height: 180px;
  margin: auto;
}

div.effect {
  transition: background .2s;
}
div.effect:hover {
    background-color: #e6fff3;
    cursor: pointer;
}

div.effect:active {
  background-color: #99ffce;
  box-shadow: 0 .5px 1px .5px #666;
}

header {
  margin: auto 5%;
}
/*
nav > ul li {
  float: right;
}*/
/* nav menu styling - see README for credit */

nav ul {
  list-style-type: none;
  margin: 0 71%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 20em;
  margin-top:-4em;
  margin-bottom:5em;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

div#voting-ended h2 {
  color: #004d28;
  text-align: center;
}

/* see readme for button styling credit */
button#refresh-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00b3b3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #666;
  transition: background .2s;

}

button#refresh-button:hover {
  background-color: #b3ffff;
  color: #000;
  cursor: pointer;
}

button#refresh-button:active {
background-color: #99ffce;
box-shadow: 0 4.5px #666;
}