body {
  background: #cce6ff;
}

h1 {
  font-size:48px;
  line-height:2em;
}

h2 {
  font-size:36px;
  line-height: 2em;
}

canvas {
  height: 400px;
  width: 600px;
}

/*
section > img:first-child {
  margin-right: 5em;
}

section > img:last-child {
  margin-left: 5em;
}
*/
/*
div#results-box {
  border: 2px solid #757575;
  
  width:400px;
  height:710px;
}*/

div.card > img {
  display: inline;
  /*margin-right: 5em;*/
}
ul#results {
  margin:-4em 0 2em 2em;
  padding:2em;
  list-style-type: square;
  float: left;
}

ul#results li {
  line-height: 2em;
}
div#three-pics-container {
  margin-left:26em;
  margin-top:5%;
  margin-right:3em; 
  /*border: 2px solid#757575;*/
  padding: 2em;
  text-align: center;
}

div#three-pics-container p {
  font-size: 24px;
  line-height: 4em;
}
div#three-pics-container div.card {
  float: left;
}

div.card {
  width: 200px;
  height: 200px;
  border: 1px solid#757575;
  padding: 1em;
  text-align: center;
}

div.card img {
  max-width: 180px;
  max-height: 180px;
  margin: auto;
}

div.effect:hover {
    background-color: #e6fff3;
    cursor: pointer;
}

div.effect:active {
  background-color: #99ffce;
}

header {
  margin: auto 5%;
}
/*
nav > ul li {
  float: right;
}*/
/* nav menu styling - see README for credit */

nav ul {
  list-style-type: none;
  margin: 0 71%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 20em;
  margin-top:-4em;
  margin-bottom:5em;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

